body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@font-face {
    font-family:'FF Shamel Family';
    src: url("FF Shamel Family Sans One Book.ttf");
}
@font-face{
    font-family: 'FF Shamel Family B';
    src: url('FFShamelFamily-SansOneBold (1).ttf');
}
.logo{
    padding-right: 5em;
}
.new-nav{
    position: absolute;
    display: none;
    transform: scale(2);
    margin-left: 5rem;
    margin-top: 4rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 6em;
    padding-left: 5%;  
    padding-top: 1em;
    background-color:#EEFBFC;
    padding-bottom: 2%;
    padding-top: 2rem;
}

.menu{
    display:flex;
    flex-direction: row-reverse;
    gap: 3rem;
}
.menu-element{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.58);  
    text-decoration: none; 
}
.Principal{
    color: rgba(2, 2, 2, 0.862);
    border-bottom: 2px solid  #29B3D7;
   
}
.tbtn{
    width: 174px;
    height: 56px;
    background: linear-gradient(144.89deg, #9E87F1 16.96%, #796AF0 92.47%);
    border-radius: 36px;
    border: none;
    display: inline-block;
    color: #FFFFFF;
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 22px;
}
.ibtn{
    width: 174px;
    height: 56px;
    background: linear-gradient(114.46deg, #45CFE1 25.08%, #12A8DD 96.72%);
    box-shadow: 0px 4px 12px rgba(43, 181, 207, 0.42);
    border-radius: 36px;
    border:none;
    font-family: 'FF Shamel Family';
    font-style: normal;
    color: #FFFFFF ;
    font-weight: 500;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 22px;
}
.menu--btns{
    display: flex;
    gap: 2rem;
    padding-left: 5rem;
}
.nav-background{
    transform: scale(0.8);
    position: absolute;
    margin-top: -24.5em;
    margin-left: -9em;

}
.container--1-background1{
    transform: scale(0.8);  
}
.big-image{
    padding-left:6em ;
    
}
.container--nav{
    background-image: url("images/back1.svg");
    display: flex;
    width: 100%;
    height:957px;  
    margin-top: -8%;    
    padding-top: 126px;

}
.sentence1--nav{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 57px;
    color: #7459DF;

    
}
.sentence2--nav{

    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    
    margin-top: -1%;
    font-size: 3.5em;
    line-height: 70px;
    align-items: center;
    color: #0F1E42;
    
       

}
.nav-price{
    margin-top: -3%;
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 2.125em;
    line-height: 53px;
    background: linear-gradient(114.46deg, #45CFE1 25.08%, #12A8DD 96.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.subscribe-now{ 
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(255.25deg, #FED02B 6.76%, #FFBA37 60.42%);
    box-shadow: 0px 4px 4px rgba(254, 208, 43, 0.54);
    border-radius: 36px;
    border: none;
    width: 253px;
    height: 76px;
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    align-items: center;
    color: #753100;
}
.some-hint{
    text-align: right;
    margin-right:7em;
    padding-top:10.25em;
    padding-right: 4%;
}
.paper-plane{
    margin-top: 2em;
    margin-right: 7em;
    position: absolute;
    margin-left: -10em;
}
.container--backgroud-2{
    transform: translate(24%);
    height: 1101px;
    position: absolute;
    z-index: -4;
    margin-top: -21rem;
    margin-left: 8.4rem;
  
}
.container--help{

    gap: 16px;

    background-image: url("images/under.svg");
     display: grid;
     grid-template-columns: 1fr 1px 1fr 1px  1fr 1px 1fr ; 
     flex-direction: row-reverse;
     background: #FEFFFF;
    box-shadow: 0px 9px 69px -5px rgba(49, 169, 220, 0.2);
    border-radius: 53px;
    width: fit-content;
    padding: 1rem;
    width: 1557px;
    justify-content: space-around;
    height: 332px;
    align-items: center;
    align-self:center;
    margin-top: 5%;
    z-index: 2;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
}
.help--title{
    align-self: center;
    width: 251px;
    padding-left: 15%;
    height: 63px;
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px; 
    align-items: center;
    text-align: center;
    color: #0b3c71;
    margin-bottom: 0px;
    
    
}
.help-paragraphe{
 margin-right: 10%;
 padding-left: 12%;
width: 279px;
height: 80px;
margin-top: 0px;
align-self: center;
font-family: 'FF Shamel Family';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 40px;
/* or 185% */

display: flex;
align-items: center;
text-align: center;

/* text color */

color: #0C4888;

}
.help--1{
    padding:auto 20% ;
    display: grid;
    width: 364px;
    height: 293px;
    grid-template-rows:  0.5fr 0.5fr 0.1fr;

}
.header--new-background{
    position: absolute;

    left: 20rem;
    transform: scale(11.5);
    top: -29rem;
    display: none;
}

.help--1:hover{
    background-color:rgba(209, 235, 255, 0.8);
    border-radius: 48px;
}

.main--help-icon{
    margin-bottom: 9%;
    padding-left: 30%;
    align-self: center;
    margin-bottom: 4%;
    transform: scale(1.3);
}
.star{
    height: 242px;
    border-left: 1px #0FBAB8 solid;
}
.section--how-are-we{
    display: flex;
    margin-top: 2em;
    padding: 10%;
    padding-bottom: 2%;
    gap:2rem;
}
#section2--img{ 
    margin-top: -100px;
}
.section2--paragrap{
    display: flex;
    flex-direction: column;
}
.section--3-1{
    font-family: 'FF Shamel Family B';
   margin-top: -0.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 91px;
    align-items: center;
    text-align: right;
    background: linear-gradient(114.46deg, #45CFE1 25.08%, #12A8DD 96.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}
.section--3-2{
    font-family: 'FF Shamel Family B';
font-style: normal;
margin-top: -3rem;
font-weight: 400;
font-size: 36px;
line-height: 55px;
align-items: center;
text-align: right;
color: #0C4888;

}
.section--3-3{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 46px;
    text-align: right;
    color: #0C4888;
}
.section--3-btn{
width: 215px;
height: 66px;
background: linear-gradient(114.46deg, #45CFE1 25.08%, #12A8DD 96.72%);
border-radius: 36px;
font-family: 'FF Shamel Family';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;
border: none;
margin:auto 75% ;
}
.minasa{
    display: flex;
    flex-direction: row-reverse;

}
.teacher-card{

width: 263px;
height: 397px;
padding: 0.5%;
background: #FFFFFF;
box-shadow: 0px 12px 31px 1px #C8E8F5;
border-radius: 25px;
}
.presentation{
    font-family: 'FF Shamel Family';
font-style: normal;
margin-top: -17px;

font-weight: 400;
font-size: 21px;
line-height: 43px;
/* or 205% */

text-align: right;

/* text color */

color: #0C4888;
}
.teachers{
    font-family: 'FF Shamel Family B';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 68px;

align-items: center;
text-align: right;

/* linear blue logo */

background: linear-gradient(213.16deg, #3FDFDD -11.94%, #148AD2 100.62%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;

}
.section4--teacher{
    border-radius: 25px;
}
.section4-teachers{
    display: flex;
    flex-direction: row-reverse;
    gap:0.938em;
    max-width:110.313em;
    margin-bottom: 2em;
    margin: 1.438em 13% auto;
    font-family: 'FF Shamel Family';
}
#esm{
    font-size: 20px;
    font-family: "FF Shamel Family B";
}
.teacher-name{
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    font-size:23px;
    align-items: center;
    text-align: center; 
    color: #0C4888;
    
}
.techer-subject{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
   
    text-align: center;
    color: #0FBAB8;
}
.years-of-exp{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    
    text-align: center;
    color: #719594;
    

}
.card-presentation{
    max-width: 35.13em;
    margin-top: 1%;
    min-width: 553px;
    margin-right: -8%;

}
.start-now--btn{
    font-family: 'FF Shamel Family';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
/* identical to box height */
width: 215px;
height: 66px;
align-self: flex-end;
align-items:right;
text-align: center;

color: #FFFFFF;
background: linear-gradient(114.46deg, #45CFE1 25.08%, #12A8DD 96.72%);
border-radius: 36px;
padding: 0.7em;
border: none;
}
.under-under{
    position:absolute;
    z-index: -1;
}
.main-title{
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    align-items: center;
    text-align: right;
    background: linear-gradient(213.16deg, #3FDFDD -11.94%, #148AD2 100.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    margin-bottom: -15px;
  
}
.main-description{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    /* or 181% */
    
    text-align: right;
    
    /* text color */
    
    color: #0C4888;
}
.title{
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    font-size: 26px;
    line-height: 49px;
    align-items: center;
    text-align: right;
    background: linear-gradient(92.35deg, #485EE9 9.26%, #7165EF 88.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
      
}
.description{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: right;
    color: #0C4888;    
}
.steps{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9em  9em;
    column-gap: 11.563em;
    row-gap: 3em;

}
.how-to-create-acc{
    display: flex;
    margin-top:3em;
    gap: 4.68em;
    margin:140px;
    margin-right: 13rem;

  

}
.courses-title{
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 68px;
    align-items: center;
    text-align: center;
    background: linear-gradient(114.46deg, #45CFE1 25.08%, #12A8DD 96.72%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  
}
.courses-sub-title{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 6rem;
    color: #0C4888;
    margin-top: -2.2em;
}
.subject-card{
    background: #FFFFFF;
    box-shadow: 0px 12px 31px 1px #C8E8F5;
    border-radius: 25px;
    max-height: fit-content;
    max-width: fit-content;
    padding-top: 0.688em;
    

}
.subject-img{
    border-radius: 25px;
    margin-left: 0.375em;
  
}
.live-title{
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #0C4888;    
 
}
.subject-name{
    padding-right: 0.625em;
    margin-top :-0.7em;
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 51px;
    align-items: center;
    text-align: center;
    background: linear-gradient(213.16deg, #3FDFDD -11.94%, #148AD2 100.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.live-description{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    text-align: right;
    margin: 0 auto;
    color: #0C4888;
    max-width:26.063em;
   
}
.teacher-img{
    overflow: hidden;
    height: 49px;
    width:49px;
    border-radius: 50%;

}
.teacher-name{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: #0C4888;
    text-overflow: ellipsis;
    white-space: nowrap;
    } 
.teacher-proffession{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 39px;
    text-align: center;
    color: #5263BD;
    margin: -22px;
    margin-left: 1px;
}

.start-live-now--btn{
    border:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 125px;
    height: 39px;
    background: linear-gradient(114.46deg, #45CFE1 25.08%, #12A8DD 96.72%);
    border-radius: 36px;
    margin-left: 2.88em;
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    align-self: center;
  
}
.section-our-courses{
    justify-content: space-between;
}
.teacher-info{
    padding-bottom: 7px;
    display: flex;
    margin-top: 2.063em;
    padding-top: 0.625em;
    padding-left: 0.625em;
    padding-right: 0.625em;
    background: rgba(201, 201, 201, 0.2);
    border-radius: 25px;    
}
.prof-info{
    padding-left: 18px;
    flex-direction: row;
}

.courses{
    display:flex;
    align-items: center;
    gap:2.813em;
    justify-content: center;
    margin-bottom: 10%;
    position: relative;
   
}
.footer--be-ready{
    z-index: 5;
    display: flex;
    background: linear-gradient(92.35deg, #485EE9 9.26%, #7165EF 88.37%);
    box-shadow: 0px 9px 69px -5px rgba(49, 169, 220, 0.2);
    border-radius: 166px;
    justify-content: space-around;
    height: 266px;;
    max-width: 97.375rem;
    margin: 0 10% auto;
    position: relative;
}
.enroll-now{
    align-self: center;
    font-family: 'FF Shamel Family B';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    white-space: nowrap;
    text-align: center;
    border: none;
    width: 350px;
    height: 108px;
    padding: 2%;
    color: #FFFFFF;
    background: linear-gradient(255.25deg, #FED02B 6.76%, #FFBA37 60.42%);
    box-shadow: 0px 4px 16px 2px rgba(254, 208, 43, 0.46);
    border-radius: 500px;  
}
.be-ready{
    max-width: 30.625rem;
    align-self: center;
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 140%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;        
}
.bub{
    position: absolute;
    margin-left: 13%;
    margin-top: -13%;
    z-index: 10;
    
}
footer{
    background-color: #0F1E42;
    display: flex;
    height: 26.75rem;
    justify-content: space-around;
    align-items: center;
    margin-top: -113px;
    z-index: -5;
}
.footer--title{
    font-family: 'FF Shamel Family',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
} 
.footer--sub{
    font-family: 'FF Shamel Family';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 3%;
}
.footer--icon{
    display: flex;
    gap: 1rem;
}